k8s/secrets.yaml
# Terraform local files
.terraform/
*.tfstate
*.tfstate.*
.terraform.lock.hcl

**/.terraform/
**/*.tfstate
**/*.tfstate.*
**/.terraform.lock.hcl

*.terraform.tfstate
*.terraform.tfstate.*

# Node.js
node_modules/
npm-debug.log

# Environment secrets
.env
secrets.yaml

# OS files
.DS_Store
Thumbs.db

*.exe